body {
  background-color: #f2fdff;
  padding-top: 4rem;
  user-select: none;
  font-family: 'Quicksand', sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #011640;
  background-color: #65768C;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: 600;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #011640;
}

img {
  width: 1em;
  height: 1em;
}

div {
  text-align: center;
  margin-bottom: 1.5rem;
}

.visited {
  background-color: #a8b3c0;
}

td:not(.nonclickable):hover {
  opacity: 0.7;
}
