body {
  background-color: #BBADA0;
  padding-top: 3rem;
}
h1 {
  text-align: center;
  font-size: 3rem;
}

table {
  border-spacing: 0;
  border: #ECDFC7 solid 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}

td {
  border: solid 0.25rem #3d332a;
  font-size: 3rem;
  color: #55473A;
  background-color: #ECDFC7;
  width: 6rem;
  height: 6rem;
  text-align: center;
}

td:first-child {
  border-left: 0;
}
td:last-child {
  border-right: 0;
}
table tr:nth-child(1) td {
  border-top: 0;
}
table tr:nth-child(3) td {
  border-bottom: 0;
}