* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #BBADA0;
  padding-top: 4rem;
  user-select: none;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

table {
  border-spacing: 0;
  border: #ECDFC7 solid 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}

td {
  border: solid 0.2rem #3d332a;
  font-size: 4rem;
  color: #55473A;
  background-color: #ECDFC7;
  width: 6rem;
  height: 6rem;
  text-align: center;
}

td:hover {
  background-color: #ebd5ae;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}

table tr:nth-child(1) td {
  border-top: 0;
}

table tr:nth-child(3) td {
  border-bottom: 0;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 6rem;
  height: 3rem;
  border: none;
  border-radius: 5%;
  background-color: #ECDFC7;
  font-size: large;
}

button:hover {
  background-color: #ebd5ae;
  cursor: pointer;
}

#hardBtn:hover {
  cursor: default;
  background-color: #ECDFC7;
}
